*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
    background-color: "#2C2C2C";
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    line-height: 130%;
}

.upload-component{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 440px;
    width: 90%;
    margin: auto;
}

.drag-files{
    background-color:#F3F0FF;
    border: 1px dashed #C1B2FA;
    border-radius: 5px;

    text-align: center;
    padding: 28px 0 32px;
    position: relative;

    cursor: pointer;
}

.drag-files input{
    all:unset;
    opacity: 0;
    inset: 0;
    position: absolute;
}

.drag-files h1{
    color: #7A5FEC;
    font-size: 16px;
    font-weight: bold;
}

.drag-files p{
    color: #746E82;
    font-size: 14px;
}

.dragover{
    background-color: #EBE5FF;
}

.files{
    margin-top: 20px;
    display:grid;
    gap: 12px;
}
.box{
    padding: 8px;
    background: #ffffff;
    box-shadow: 0px 4px 16px #eae2fd;
    border-radius: 8px;

    display: flex;
    gap: 12px;

    position: relative;

    --icon-bg:#eee;
    --icon-color:#aaa;
    --progress-color:#000;
    --progress-text: #999;

}

.box .icon{
    background: var(--icon-bg);
    border-radius: 4px;
    padding: 16px 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box .icon img{
    width: 30px;
    height: 30px;
    color: black;
}

/* info */
.box .info{
    flex: 1;
}

.info .filename{
    font-size: 14px;
    font-weight: 700;
    color: #575361;
}

.info .filesize{
    font-size: 14px;
    font-weight: 500;
    color: #857E95;
}

/* bar progress bar*/
.bar{
    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: 4px;
    line-height: 0;
}
progress{
    flex: 1;
    --webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 999px;
    overflow: hidden;
}

progress::-webkit-progress-bar{
    background: #E3E3ED;
}

progress::-webkit-progress-value{
    background: var(--progress-color);
}

.bar span{
    font-size: 12px;
    font-weight: 500;
    color: var(--progress-text);
}

/* action */

.action{
    position: absolute;
    top: 8px;
    right: 8px;
    color: #794Fed;
    cursor: pointer;
}

/* colors */

.uploading{
    --icon-bg: #e9e3f8;
    --icon-color:#ac96e4;
    --progress-color:linear-gradient(90deg, rgba(58, 97, 237, 0.52) 0%, #7c3aed 100%);
    --progress-text: #9892A6;
}

.done{
    --icon-bg: #daf2d9;
    --icon-color:#73b172;
    --progress-color:#73b172;
    --progress-text: #4e884d;
}

.error{
    --icon-bg: #f2d9d9;
    --icon-color:#e36363;
    --progress-color:#ffffff;
    --progress-text: #e36363;
}